/*
  Start date: 26/01/2022
  Author: David Antúnez Pérez
  End date: Not ended yet
  Color Palette: #472682 ; #be9cea ; #694499 ; #97a2d3 ; #403245 ;
*/
/*CUSTOM COLORS*/
.bg-krnmain{background-color:#694499;}
.bg-krn2{background-color:#472682}
.bg-krnlight{background-color:#be9cea;}
.bg-krn2{background-color:#97a2d3}
.bg-krn2{background-color:#403245}
/*NAVBAR STYLE*/
#logo{
  width: 48px;
  border-radius: 20%;
  border:solid 2px #b39ac9;
}
b{
  color: #6a4499;
}
::selection{
  color:#fff;
  background-color:#6a4499;
}