/*
  Start date: 26/01/2022
  Author: David Antúnez Pérez
  End date: Not ended yet
  Color Palette: #472682 ; #be9cea ; #694499 ; #97a2d3 ; #403245 ; #35419b ; #ffffff ;
*/
/*CUSTOM COLORS*/
/*BACKGROUNDS*/
.bg-krnmain{background-color:#694499;}
.bg-krn2{background-color:#472682}
.bg-krn3{background-color:#97a2d3}
.bg-krn4{background-color:#403245}
.bg-krn5{background-color:#be9cea;}
.bg-krn6{background-color:#35419b;}
.bg-dark{border:#472682} /*TO FIX BLUE-COLOR CHECKBOX ISSUE/*
/*COLORS*/
.c-krnmain{color:#694499;}
.c-krn2{color:#472682}
.c-krn3{color:#97a2d3}
.c-krn4{color:#403245}
.c-krn5{color:#be9cea;}
.c-krn6{color:#35419b;}
/*GENERAL STYLE*/
b{
  color: #694499;
}
a{  
  text-decoration: none;
  color:#694499;
}
a:hover{
  color: #97a2d3;
}

::selection{
  color:#fff;
  background-color:#694499;
}
/*NAVBAR STYLE*/
#logo{
  width: 48px;
  border-radius: 20%;
  border:solid 2px #b39ac9;
}
/*FOOTER STYLE*/
.kirinfilter{filter: invert(33%) sepia(12%) saturate(3284%) hue-rotate(226deg) brightness(87%) contrast(87%);}